@charset "utf-8";

body {
    text-align:center;
    margin:0;
    font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size:12px;
    padding:0;
    line-height:0;
}

#header {
    width:100%;
    background-image:url('./images/header-fill-black.png');
    position:absolute;
}

#contents {
    width:960px;
    top:0;
    margin-left:auto;
    margin-right:auto;
}

#iphones {
    padding-top:100px;
    width:539px;
    margin-left:115px;
    position:relative;
    float:left;
}

#iphone-screen-vertical-overlay {
    top:171px;
    left:17px;
    height:259px;
    width:173px;
    position:absolute;
    z-index:10;
}

#iphone-screen-horizontal-overlay {
    top:307px;
    left:210px;
    height:173px;
    width:259px;
    position:absolute;
    z-index:10;
}

#note {
    margin-top:360px;
    width:185px;
    margin-left:8px;
    position:relative;
    float:left;
    text-align:center;
}

#appstore-icon {
    margin-top:30px;
}