<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
    <script type="text/javascript">
    
        var newImage;
        var oldImage;

        var newImageIndex = 0;

        var newImageOpacity = 0.00;
        var oldImageOpacity = 100.00;            

        var timer = 0;

        var homediv;

        function homefade() {
            if (!homediv) {
                homediv = document.getElementById("homeimg");

            } else {
                
                if (newImage) {
                    
                    if (oldImage) {
                        homediv.removeChild(oldImage);
                    }
                    
                    oldImage = newImage;
                }
                
                newImage = document.createElement('img');
                newImage.src = imgsArray[newImageIndex];
                newImage.id = "newImg"
                newImage.align = "center"
                newImage.marginRight = "auto"
                newImage.marginLeft = "auto"                
                newImage.style.opacity = "0";
                newImage.style.filter = "alpha(opacity=0)";
                newImage.width = "850"
                
                homediv.appendChild(newImage);
                if (oldImage) {
                    newImage.style.position = 'absolute';
                    var big_coordinates=getXYpos(oldImage);
                    var bp_x = big_coordinates['x'];
                    var bp_y = big_coordinates['y'];
                    
                    newImage.style.right = bp_x + 'px';
                    newImage.style.top = bp_y + 'px';
                }
                
                
                
                if (newImageIndex == (imgsArray.length-1)) {
                    newImageIndex = 0;
                    
                } else {
                    newImageIndex++;
                };
                
                timer = setInterval("homefadeTrans();", 0.25);    
            }
        }
        
        function homefadeTrans() {
            if (newImageOpacity >= 100) {
                clearTimeout(timer);
                
                timer = 0;
                newImageOpacity = 0;
                oldImageOpacity = 100;

                setTimeout("homefade();", 700);

            } else {

                newImage.style.opacity = newImageOpacity/100;
                newImage.style.filter = "alpha(opacity="+newImageOpacity+")";
                newImageOpacity = newImageOpacity+2.5;

                if (oldImage) {
                    //oldImage.style.opacity = oldImageOpacity/100;
                    //oldImage.style.filter = "alpha(opacity="+oldImageOpacity+")";
                    //oldImageOpacity = oldImageOpacity-1;
                }
            }
        }

        function getXYpos(elem) {

           if (!elem) {
              return {"x":0,"y":0};
           }

           var xy = {"x":elem.offsetLeft,"y":elem.offsetTop}
           var par = getXYpos(elem.offsetParent);

           for (var key in par) {
              xy[key] += par[key];
           }

           return xy;
        }
        
    </script>
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>Featured FOFs</title>
        
        <!--<script type="text/javascript" src="{{ STATIC_URL }}fof.js"></script>-->
        
        <script type="text/javascript">
            
            var imgsArray = new Array();
            
            {% for frame in frame_list %}
                imgsArray[{{ frame.index }}] = "{{ frame.url }}";
            {% endfor %}
            
            window.onload=homefade;
            
        </script>
        
    </head>
    
    <body align="center" bgcolor="#000000">
        <font face="Arial" size="10" color="#ffffff">
        
        <a href="/uploader/{{prev_fof_name}}/featured_fof/">PREV</a>
        dyfocus
        <a href="/uploader/{{next_fof_name}}/featured_fof/">NEXT</a>
        
        </font>
        
        <div align="center" id="wrapper" marginRight="0px auto" marginLeft="0px auto">
            
            <div align="center" id="homeimg"/>
            
        </div>
        
        <script>
            //call after page loaded
            homefade();
        </script>
        
    </body>
    
</html>
