<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">

    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# dyfocus: http://ogp.me/ns/fb/dyfocus#">
        <meta property="fb:app_id" content="417476174956036" /> 
        <meta property="og:type"   content="dyfocus:fof" /> 
        <meta property="og:url"    content="http://dyfoc.us/uploader/{{ fof_name }}/share_fof/" /> 
        <meta property="og:title"  content="dyfoc.us - Pictures with animated focus and filters!" /> 
        <meta property="og:description" content="dyfoc.us is a free photo app that allows taking pictures with multiple focal points and dynamic filters" />
        <meta property="og:image"  content="{{ fof_thumbnail_url }}" />
        <meta property="og:video" content="{{ fof_flash_url }}">
        <meta property="og:video:type" content="application/x-shockwave-flash" />
        <meta property="og:video:width" content="403" />
        <meta property="og:video:height" content="270" />
        <!-- <meta property="og:type" content="website"/> -->
    </head>
    <body>
        <!--<script>
            window.location = 'http://dyfoc.us';
        </script>-->
</body>
</html>