<html>
<head>
    <title>Fly, you fools!</title>
    <meta property="og:title" content="dyfoc.us - Pictures with animated focus and filters!" />
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="dyfoc.us is a free photo app that allows taking pictures with multiple focal points and dynamic filters" />
    <meta property="og:image" content="{{ fof_thumbnail_url }}" />
    <meta property="og:site_name" content="dyfoc.us"/>
    <meta property="og:video" content="{{ fof_flash_url }}">
    <meta property="og:video:type" content="application/x-shockwave-flash">
    <meta property="og:video:width" content="369">
    <meta property="og:video:height" content="270">
</head>
<body>
<script>
    window.location = 'http://dyfoc.us';
</script>
</body>
</html>