<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>dyfoc.us - share your moments!</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fof_viewer.css" media="all" />
	<!--[if IE]>
	<style type="text/css" media="all">.borderitem {border-style: solid;}</style>
	<![endif]-->
	<script type="text/javascript" src="{{ STATIC_URL }}newfof.js"></script>
    
	<script language=javascript>
		<!--
		if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
	   		location.replace("/uploader/{{ device_id_value }}/user/{{ current_fof }}/fof_name/m/");
		}
		-->
	</script>

    <script type="text/javascript">
        
        var imgsArray = new Array();
        
        {% for frame in frame_list %}
            imgsArray[{{ frame.index }}] = "{{ frame.url }}";
        {% endfor %}
        
        window.onload=homefade;
        
    </script>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-35287341-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
</head>

<body>
	<div id="main">
	
		<div id="df_background">
			
			<img src="{{ STATIC_URL }}images/fof_viewer_r1_c1.png" id="fof_viewer_r1_c1" alt="" />
			<img src="{{ STATIC_URL }}images/fof_viewer_r1_c5.png" id="fof_viewer_r1_c5" alt="" />
			
			<div class="clearFloat"></div>
			
			<div id="colwrap2">
			
				<div id="left_arrow">
					<a href="/uploader/{{device_id_value}}/user/{{prev_fof_name}}/fof_name/">
						<img src="{{ STATIC_URL }}images/left-arrow-dark.png" id="fof_viewer_r4_c2" style="opacity:0.0;" onmouseover="this.style.opacity = 1" onmouseout="this.style.opacity = 0" alt="" />
					</a>
				</div>
			
				<div class="clearFloat"></div>
			
			</div>
			
			<div id="colwrap3">
			
				<div id="homeimg">
					
					<div id="backImageDiv">
						<img id="backImage"/>
					</div>
					
					<div id="frontImageDiv">
						<img id="frontImage"/>
					</div>
					
				</div>
				
				<div id="posted_by"> <b>Posted by:</b> {{ user_name }}</div>
				
				<div class="clearFloat"></div>
				
			</div>
			
			<div id="colwrap4">
				
				<div id="right_arrow">
					<a href="/uploader/{{device_id_value}}/user/{{next_fof_name}}/fof_name/">
						<img src="{{ STATIC_URL }}images/right-arrow-dark.png" id="fof_viewer_r4_c8" style="opacity:0.0;" onmouseover="this.style.opacity = 1" onmouseout="this.style.opacity = 0" alt="" />
					</a>
				</div>
				
				<div class="clearFloat"></div>
			
			</div>
			
		</div>
		
		<div class="clearFloat"></div>
		
		<img src="{{ STATIC_URL }}images/fof_viewer_r8_c1.png" id="fof_viewer_r8_c1" alt="" />
		
		<div class="clearFloat"></div>
		
	</div>
	<script type="text/javascript"> homefade();</script>
</body>
</html>

