<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>dyfoc.us - share your moments!</title>
	<!--[if IE]>
	<style type="text/css" media="all">.borderitem {border-style: solid;}</style>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fof_viewer.css" media="all" />
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"> <!--  BOOTSTRAP  -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> <!--ADDS JQUERY-->
	<script type="text/javascript" src="{{ STATIC_URL }}newfof.js"></script>
    
    <script type="text/javascript">
		/*  CHANGE THE PAGE IN CASE OF IPHONE	*/
		if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
	   		location.replace("/uploader/{{ device_id_value }}/user/{{ current_fof }}/fof_name/m/");
		}

		/*  FRAME FADDING:	*/
        var imgsArray = new Array();
        
        {% for frame in frame_list %}
            imgsArray[{{ frame.index }}] = new Image();
			imgsArray[{{ frame.index }}].src = "{{ frame.url }}";
        {% endfor %}
        
        window.onload=homefade;
        
		/*  GOOGLE ANALYTICS:	*/
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-35287341-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	
</head>

<body>
	<div id="fb-root"></div>
	<script type="text/javascript">
		/*  FACEBOOK CONNECTION (USED FOR LIKE BUTTON?):  */
		window.fbAsyncInit = function() {
			FB.init({appId: '416260668426967', status: true, cookie: true, xfbml: true});
		};
		(function() {
			var e = document.createElement('script'); e.async = true;
			e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
			document.getElementById('fb-root').appendChild(e);
		}());

		/*  ATTRIBUTES OF THE SHARE BUTTON:	*/
		$(document).ready(function(){
			$('#share_button').click(function(e){
				e.preventDefault();	
				FB.ui(
				{
					method: 'feed',
					name: "{{ user_name }}'s FOF",
					link: window.location.href,
					picture: imgsArray[0].src,
					caption: window.location.href,
					description: 'This FOF was taken by {{ user_name }}',
					message: ''
				});		
			});
		});
	</script>

	<!--  BOOTSTRAP DECLARATION -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>	
	
	<div id="main">
	
		<div id="df_background">
			
			<!-- Cabeçário: -->
			<a href="https://www.facebook.com/dyfocus">
				<img src="{{ STATIC_URL }}images/fof_viewer_r1_c1.png" id="fof_viewer_r1_c1" alt="" />
			</a>
			<div id="container">
				<div id="fof_viewer_r1_c5"><img src="{{ STATIC_URL }}images/fof_viewer_r1_c5.png" alt="" /></div>
				<!-- PAGE LIKE BUTTON: -->
				<div id="page_like" class="fb-like" data-href="http://www.facebook.com/dyfocus" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false" data-font="arial"></div>
			</div>
			
			<div class="clearFloat"></div>
			
			<div id="colwrap2">
			
				<div id="left_arrow">
					<a href="/uploader/{{device_id_value}}/user/{{prev_fof_name}}/fof_name/">
						<img src="{{ STATIC_URL }}images/left-arrow-dark.png" id="fof_viewer_r4_c2" style="opacity:0.0;" onmouseover="this.style.opacity = 1" onmouseout="this.style.opacity = 0" alt="" />
					</a>
				</div>
			
				<div class="clearFloat"></div>
			
			</div>
			
			<div id="colwrap3">
			
				<div id="homeimg">
					
					<div id="backImageDiv">
						
					</div>
					
					<div id="frontImageDiv">
						
					</div>
					
				</div>
				
				<!-- START OF share, like, send and embed buttons -->		
				<div id="buttons">
					<img src = "{{ STATIC_URL }}images/share_facebook.png" class="share" id = "share_button" type='button_count'>
					<div class="fb-like" data-href="https://marcelosalloum.pagekite.me/uploader/0/featured_fof/" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>				
				</div>
				
				<div class="accordion" id="accordion2">
					<div class="accordion-heading" style="text-align:left; margin-left: 2px;">
					  <a class = "btn btn-mini" data-toggle="collapse" data-parent="#accordion2" href="#collapse">
						Embed
					  </a>
					</div>
					<div id="collapse" class="accordion-body collapse">
					  <div class="accordion-inner">
						<h4>
							<i>Copy and paste the following code into your website:</i></h4>
							<textarea style="width:500px" name="embedded_link" rows="3"> <iframe src="http://dyfoc.us/uploader/{{current_fof}}/embedded_fof/" width="432px" height="576px" frameborder="no" scrolling="no" marginwidth="0" marginheight="0" vspace="0" hspace="0"></iframe> </textarea>
						<!--<input type="text" size="45" value=<script type="text/javascript">document.write(window.location.href);</script>>-->
					  </div>
					</div>
				</div>
				<!-- END OF share, like, send and embed buttons -->	
				
				<div id="posted_by"> <b>Posted by:</b> {{ user_name }}</div>
				
				<div class="clearFloat"></div>
				
			</div>
			
			<div id="colwrap4">
				
				<div id="right_arrow">
					<a href="/uploader/{{device_id_value}}/user/{{next_fof_name}}/fof_name/">
						<img src="{{ STATIC_URL }}images/right-arrow-dark.png" id="fof_viewer_r4_c8" style="opacity:0.0;" onmouseover="this.style.opacity = 1" onmouseout="this.style.opacity = 0" alt="" />
					</a>
				</div>
				
				<div class="clearFloat"></div>
			
			</div>
			
		</div>
		
		<div class="clearFloat"></div>
		
		<img src="{{ STATIC_URL }}images/fof_viewer_r8_c1.png" id="fof_viewer_r8_c1" alt="" />
		
		<div class="clearFloat"></div>
		
	</div>
	<script type="text/javascript"> homefade();</script>
</body>
</html>

