<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>New Web Project</title>
        
         <script type="text/javascript" src="{{ STATIC_URL }}fof.js"></script>
        
        <script type="text/javascript">
            
            var imgsArray = new Array();
            
            {% for frame in frame_list %}
                imgsArray[{{ frame.index }}] = "{{ frame.url }}";
            {% endfor %}
            
        </script>
        
    </head>
    
    <body onload="homefade()">
        
        dyfocus <a href="#" onclick="javascript: homefade();">Start</a>
        <hr/>
        
        <div id="homeimg" />
        
    </body>
    
</html>
