<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
	<head>
	    <meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}fof_navigator.css" />
	    <title>dyfocus FOF viewer</title>
	</head>
    
	<body>

	
		<div id="wrapper">
    	    
	    	<table id="main_table" cellspacing="0" cellpadding="0">
	    		<tr>
	    			<td id="tab_left_button">
	    				<img id="img_left_button" src="{{ STATIC_URL }}dyfocus_prev_button.gif" alt="<"></td>
					<td id="tab_left_separator">
						<img id="img_left_separator" src="{{ STATIC_URL }}dyfocus_separator.gif" alt="wuut"></td>
	    			<td id="tab_logo">
	    				<img id="img_logo" src="{{ STATIC_URL }}dyfocus_logo.gif" alt="dyfoc.us"></td>
					<td id="tab_right_separator">
						<img id="img_right_separator" src="{{ STATIC_URL }}dyfocus_separator.gif" alt="wuut"></td>
	    			<td id="tab_right_button">
	    				<img id="img_right_button" src="{{ STATIC_URL }}dyfocus_next.gif" alt=">"></td>
	    		</tr>

	    		<tr>
	    			<td colspan="5">
				<img src="http://s3.amazonaws.com/dyfocus/c3e4f2d9d06400773001d4e9a313e8c1db88978f_176532.321312_0.jpeg" id="newImg" align="center" style="opacity: 1.0; height: auto; width: auto; position: absolute; left: 0px; top: 46px; ">
	    			</td>
	    		</tr>
	    	</table>

	    </div>
	</body>
    
</html>
