<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
    <script type="text/javascript">
    
        var newImage;
        var oldImage;

        var newImageIndex = 0;

        var newImageOpacity = 0.00;
        var oldImageOpacity = 100.00;            

        var timer = 0;

        var homediv;

        function homefade() {
            if (!homediv) {
                homediv = document.getElementById("homeimg");

            } else {

                if (newImage) {

                    if (oldImage) {
                        homediv.removeChild(oldImage);
                    }

                    oldImage = newImage;
                }

                newImage = document.createElement('img');
                newImage.src = imgsArray[newImageIndex];
                newImage.id = "newImg"
                newImage.style.position = 'absolute';
                newImage.style.opacity = "0";
                newImage.style.filter = "alpha(opacity=0)";
                newImage.width = "850"

                if (oldImage) {
                    var big_coordinates=getXYpos(oldImage);
                    var bp_x = big_coordinates['x'];
                    var bp_y = big_coordinates['y'];

                    newImage.style.left = bp_x + 'px';
                    newImage.style.top = bp_y + 'px';
                }

                homediv.appendChild(newImage);

                if (newImageIndex == (imgsArray.length-1)) {
                    newImageIndex = 0;

                } else {
                    newImageIndex++;
                };

                timer = setInterval("homefadeTrans();", 0.25);    
            }
        }

        function homefadeTrans() {
            if (newImageOpacity >= 100) {
                clearTimeout(timer);

                timer = 0;
                newImageOpacity = 0;
                oldImageOpacity = 100;

                setTimeout("homefade();", 700);

            } else {

                newImage.style.opacity = newImageOpacity/100;
                newImage.style.filter = "alpha(opacity="+newImageOpacity+")";
                newImageOpacity = newImageOpacity+2.5;

                if (oldImage) {
                    //oldImage.style.opacity = oldImageOpacity/100;
                    //oldImage.style.filter = "alpha(opacity="+oldImageOpacity+")";
                    //oldImageOpacity = oldImageOpacity-1;
                }
            }
        }

        function getXYpos(elem) {

           if (!elem) {
              return {"x":0,"y":0};
           }

           var xy = {"x":elem.offsetLeft,"y":elem.offsetTop}
           var par = getXYpos(elem.offsetParent);

           for (var key in par) {
              xy[key] += par[key];
           }

           return xy;
        }
        
    </script>
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>dyfocus FOF viewer</title>
        
        <!--<script type="text/javascript" src="{{ STATIC_URL }}fof.js"></script>-->
        
        <script type="text/javascript">
            
            var imgsArray = new Array();
            
            {% for frame in frame_list %}
                imgsArray[{{ frame.index }}] = "{{ frame.url }}";
            {% endfor %}
            
            window.onload=homefade;
            
        </script>
        
    </head>
    
	<!--
    <body bgcolor="#000000" align="center">
        <font face="Arial" size="8" color="#FFFFFF">
		<hr>
        	<div align="left"><a href="/uploader/{{device_id_value}}/user/{{prev_fof_name}}/fof_name/">PREV</a></div>
        	<div align="center">dyfocus</div>
        	<div align="right"><a href="/uploader/{{device_id_value}}/user/{{next_fof_name}}/fof_name/">NEXT</a></div>
      		</hr>  
        
        <div id="homeimg"/>
        
        <script>
            //call after page loaded
            homefade();
        </script>
        
    </body>-->

	<body>
	<table id="Table 01" width="640" height="960" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td>
				<a href="/uploader/{{device_id_value}}/user/{{prev_fof_name}}/fof_name/">
				<img src="/home/ubuntu/mysite/images/dyfocus_prev_button.gif" width="104" height="113" alt=""></a></td>
			<td>
				<img src="/home/ubuntu/mysite/images/dyfocus_logo.gif" width="432" height="113" alt=""></td>
			<td>
				<a href="/uploader/{{device_id_value}}/user/{{next_fof_name}}/fof_name/">
				<img src="/home/ubuntu/mysite/images/dyfocus_next.gif" width="104" height="113" alt=""></a></td>
		</tr>
		<tr>
			<td colspan="3">
				<img src="/home/ubuntu/mysite/images/dyfocus_hr.gif" width="640" height="28" alt=""></td>
		</tr>
		<tr>
			<td colspan="3">
				<img src="/home/ubuntu/mysite/images/dyfocus_content_background.gif" width="640" height="819" alt=""></td>
		</tr>
	</table>
	</body>
    
</html>
