<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}fof_navigator.css" />
        <title>dyfocus FOF viewer</title>
        
        <script type="text/javascript" src="{{ STATIC_URL }}fof.js"></script>
        
        <script type="text/javascript">
            
            var imgsArray = new Array();
            
            {% for frame in frame_list %}
                imgsArray[{{ frame.index }}] = "{{ frame.url }}";
            {% endfor %}
            
            window.onload=homefade;
            
        </script>

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-35287341-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
        
    </head>

	<body>
	    
    	<div id="wrapper">
    	    
	    	<table id="main_table" cellspacing="0" cellpadding="0">
	    		<tr>
	    			<td id="tab_left_button">
	    				<a href="/uploader/{{prev_fof_name}}/featured_fof/m/">
	    				<img id="img_left_button" src="{{ STATIC_URL }}dyfocus_prev_button.gif" alt="<"></a></td>
					<td id="tab_left_separator">
						<img id="img_left_separator" src="{{ STATIC_URL }}dyfocus_separator.gif" alt="wuut"></td>
	    			<td id="tab_logo">
	    				<img id="img_logo" src="{{ STATIC_URL }}dyfocus_logo.gif" alt="dyfoc.us"></td>
					<td id="tab_right_separator">
						<img id="img_right_separator" src="{{ STATIC_URL }}dyfocus_separator.gif" alt="wuut"></td>
	    			<td id="tab_right_button">
	    				<a href="/uploader/{{next_fof_name}}/featured_fof/m/">
	    				<img id="img_right_button" src="{{ STATIC_URL }}dyfocus_next.gif" alt=">"></a></td>
	    		</tr>

	    		<tr>
	    			<td colspan="5">
	    			    <div id="homeimg"> </div>
	    			</td>
	    		</tr>
	    	</table>

	    </div>
	
	
    	<script type="text/javascript"> homefade();</script>
	</body>
    
</html>
