body {
	margin: 0;
	font-family: Helvetica;
	/*background-image: url(/static/dyfocus_content_background.gif);*/
	overflow: hidden;
	-webkit-text-size-adjust: none;
}

#wrapper {
	border: 0;
	top: 0;
	left: 0;
    vertical-align: top;
    width = "100%";
}
/*
#newImg {
    width = "320px";
    max-width = "100%";
    height = "auto";
}
*/
#newImg{
    max-width:100%%;
    height:auto !important;
    width:auto !important;
}