body {
	margin: 0;
	font-family: Helvetica;
	background-image: url(/static/dyfocus_content_background.gif);
	overflow: hidden;
	-webkit-text-size-adjust: none;
}

#wrapper {
	border: 0;
	top: 0;
	left: 0;
    vertical-align: top;
    /*width:100%;*/
}

#newImg{
    max-width:100%%;
    height:auto !important;
    width:auto !important;
}

/* Smartphones (landscape) ----------- */
/*@media only screen 
and (min-width : 321px) {
	#tab_left_button {
		width: 8.125%;
		height: auto !important;
	}
	
	#img_left_button {
		
	}
	
	}
	#tab_left_separator {
		width: 25%;
		height: 42px;
	}
	
	#img_left_separator {
		width:100%;
		height:42px;
	}
	
	#tab_logo {
		width: 33.75%;
		height: auto !important;
	}
	
	#img_logo {
		
	}
	
	#tab_right_separator {
		width: 25%;
		height: 42px;
	}
	
	#img_right_separator {
		width:100%;
		height:42px;
	}
	
	#tab_right_button {
		width:8.125%;
		height: auto !important;
	}
	
	#img_right_button {
		
	}
}*/

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	#tab_left_button {
		width: 16.25%;
		height: auto !important;
	}
	#tab_left_separator {
		width: 0%;
	}
	#img_left_separator {
		width:0px;
		height:0px;
	}
	#tab_logo {
		width: 67.5%;
		height: auto !important;
	}	
	#tab_right_separator {
		width: 0%;
	}
	#img_right_separator {
		width:0px;
		height:0px;
	}
	#tab_right_button {
		width:16.25%;
		height: auto !important;
	}
}
