<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>dyfoc.us</title>
    <link rel="stylesheet" type="text/css" href="/static/home/dyfocus.css" media="all" />
    <!--[if IE]>
    <style type="text/css" media="all">.borderitem {border-style: solid;}</style>
    <![endif]-->
</head>

<body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" src="/static/home/home.js"></script>
    <div id="fb-root"></div>
    
    <div id="main">
        <div id="header">
            <img src="/static/home/images/header.png" alt=""/>
            <div id="menu">
                <a href="#" id="login">Loading</a>
            </div>
        </div>
        <div id="contents">
            <div id="iphones">
                <img src="/static/home/images/iphones.png" alt=""/>
                <div id="iphone-screen-vertical-overlay">
                    <iframe src='http://dyfoc.us/uploader/462837.106732/embedded_fof/259/height/' width='173' height='259' frameborder='no' scrolling='no' marginwidth='0' marginheight='0' hspace='0'></iframe>
                </div>
                <div id="iphone-screen-horizontal-overlay">
                    <iframe src='http://dyfoc.us/uploader/145679.939939/embedded_fof/195/height/' width='259' height='173' frameborder='no' scrolling='no' marginwidth='0' marginheight='0' hspace='0'></iframe>
                </div>
            </div>
            <div id="note">
                <p>A brand-new way of sharing</p>
                <p>your moments with the people</p>
                <p>you like!</p>
                <div id="appstore-icon">
                    <a href="https://itunes.apple.com/us/app/dyfocus/id557266156"><img src="/static/home/images/appstore-icon.png" /></a>
                </div>
            </div>
            <div id="description-collapser">
                <a href="#">Learn More</a>
            </div>
            <div id="description">
                <p style="height:auto;">
                    Have you ever realized that the way pictures are taken hasn't changed since the invention of the camera? It's time someone changed this old-boring picture format, huh?
                    <br>
                    <br>We have in our hands state-of-the art technology for taking pictures - the iPhone camera. But still, all we do is point and shoot. One focus, one point of interest.
                    <br>
                    <br>What if you wanted to show people the same image, but highlighting different regions - making each one of them unique at a time?
                    <br>
                    <br>We present to you a brand-new format for taking pictures: dyfocus. With dyfocus, you can select up to three points of interest at a time when taking a picture. You'll get as a result an image that smoothly alternates the focus between the chosen points (regions) of interest.
                </p>
            </div>
        </div>
        <div id="footer">
            Copyright 2013 by dyfocus, inc. Visit our Facebook Page.
        </div>
    </div>
</body>
</html>
